<!-- Product Details Section -->
<div class="product-details d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
          <h1 class="card-title text-center">{{productData.productName}}</h1>
          <mat-divider></mat-divider>
          <h2 class="card-subtitle mb-2 text-muted">
                <div class="d-flex flex-wrap align-items-center justify-content-around">
                    <div>
                        <h3>Code:&nbsp;</h3><p>{{productData.productCode}}</p>
                    </div>
                    <div>
                        <h3>Brand:&nbsp;</h3><p>{{productData.productBrand}}</p>
                    </div>
                </div>
          </h2>
            <div class="card-text d-flex flex-wrap justify-content-around">
                <div>
                    <mat-icon>star</mat-icon>
                    <p class="d-flex align-items-center">{{productData.averageRating}}</p>
                </div>
                <div>
                    <mat-icon>rate_review</mat-icon>
                    <p class="d-flex align-items-center">{{productData.numberOfReviews}}</p>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center person-name">
                <p>Raised For Review By: {{productData.user.firstName}} {{productData.user.lastName}}</p>
            </div>
        </div>
      </div>
</div>
<mat-divider></mat-divider>








<!-- Reviews Section -->

<div class="reviews">
    <h1 class="text-center">Reviews</h1>
    <div class="d-flex flex-wrap">
        <!-- If No review exists -->
        <mat-card *ngIf="allReviews.length==0" class="text-center width-100 no-reviews">
            <h2>Be the first one to review this product!</h2>
        </mat-card>
        <!-- Reviews -->
        <div *ngFor="let review of allReviews" class="d-flex justify-content-center">
            <mat-card class="review-container" *ngIf="review.isApproved">
                <mat-card-header>
                <div mat-card-avatar class="profile-picture"></div>
                <mat-card-title>{{review.user.firstName}} {{review.user.lastName}}</mat-card-title>
                <mat-card-subtitle>{{review.reviewRating}} Star(s)</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <h2>{{review.reviewHeading}}</h2>
                    <p>{{review.reviewDescription}}</p>
                </mat-card-content>
            </mat-card>
          </div>
    </div>






   <!-- Add a review-->

    <h1 class="text-center leave-a-review">Leave a Review</h1>


    


      
    
    <div class="d-flex justify-content-center">
        <form [formGroup]="reviewForm" (ngSubmit)="formSubmit()">
             <!-- Rating -->
            <div class="d-flex justify-content-center">
                <ngx-star-rating [id]="'rating'" formControlName="reviewRating"></ngx-star-rating>
            </div>
            <!-- Heading -->
            <mat-form-field appearance="fill" class="full-width">
               <mat-label>Heading</mat-label>
               <input matInput formControlName="reviewHeading" placeholder="Enter Username Here">
           </mat-form-field>
           <span class="red" *ngIf="reviewHeading && reviewHeading.invalid && (reviewHeading.touched || reviewHeading.dirty)
           ">Please enter a heading</span>
            
           
           
           <mat-card style="width: 1000px;">

            <!-- Description -->
            <mat-form-field appearance="outline"class="full-width" >
                <mat-label>Description</mat-label>
                <textarea 
                matInput 
                rows="20" 
                 
               
                formControlName="reviewDescription" 
                placeholder="Enter Description Here (20-400 characters) "

              
                ></textarea>
            </mat-form-field>

          

           </mat-card>
           
           
           
           <span class="red" *ngIf="reviewDescription && reviewDescription.invalid && (reviewDescription.touched || reviewDescription.dirty) ">Enter between 20 and 400 characters</span>

           <div class="containter text-center" id="buttons">
               <button type="submit" mat-raised-button [disabled]="reviewForm.invalid" color="black">Submit</button>
               <a (click)="reviewForm.reset()" mat-raised-button>Clear</a>
           </div>
       </form>
    </div>


    
    



   
</div>
