.container{
    margin-top: 20px;
}

h1{
    font-weight: bold;
}

#sub-text{
    color: rgb(71, 69, 69);
    font-size: 15px;
}

form{
    margin-top: 30px;
}

.full-width{
    width: 100%;
}

#buttons{
    margin-top: 20px;
}

.mat-black {
    background-color: black;
    color: #fff;
}

a{
    margin-left: 10px;
}

.red{
    color:red;
}
